@import url('https://fonts.googleapis.com/css?family=Rubik:500');

* {
  margin: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    background-color: #212121;
    color: white;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    margin-top:2px;
    display: flex;
    min-height: 100vh;
}

  textarea {
    width: 100%;
    height: 50vh;
  }
  .btn {
    position: relative;
  }
  .input-group {
    max-width: 75%;
  }
  #name {
    max-width: 40%;
  }
  form {
    text-align:center;

    margin-top:3.125rem;
    margin-left:auto;
    margin-right:auto;


  }
  .btn-1 {
        background: #e74c3c;
        font-size: 140%;
        color: white;
        border-radius: 7%;
        box-shadow: 0 0.9vh 0rem #91281d;
        display: inline-block;
        transition: all .2s;
        position: relative;
        padding: 5% 6%;
        top: 0;
        cursor: pointer;
        margin:1rem 3rem;
        border: none;
  }

   .btn-1:active {
              top: 13%;
              box-shadow: 0 0.2vh 0rem #91281d;
              transition: all .2s;
          }
      .rotate{
        animation: rotating 3s linear infinite;
      }

    @keyframes rotating {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    #anh1 {
      position:fixed;
      border:0px;
      margin-top:15%;
      margin-left:-38%;
    }
    #anh2 {
      position:fixed;
      border:0px;
      margin-top:15%;
      margin-left:-85%;
    }

