body {
    background-color: #212121;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    margin-top:2px;
}

html, body {
    height: 100%;
}

html {
    /* display: table; */
    margin: auto;
}

div {
    position:relative;
    /* min-width: 100%;
    min-height: 100%; */
}

div img {
    position:absolute;
    top:100;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    min-width: 200%;
    min-height: 200%;
    /* max-width: 100%;
    max-height: 100%; */
}
center {
    position: fixed;
    width: 65%;
    top: 30%;
    margin-top: -10px;
    text-align: center;
}
.col-4 {
  min-height: 50%;
  overflow: hidden;
  max-height: 100vh;
}
#hi {
    color:white;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
  }
  .video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  #camon {
    position: absolute;
    top: 45%;
    left: 43%;
  }
  input[class="codegoeshere"] {
    font-size: 100px;
    width: 150px;
  }
  textarea {
    width: 100%;
    height: 50vh;
  }
  .btn {
    /* width: 100%;
    height: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:160px;
  }
  .input-group {
    max-width: 75%;
  }
  #name {
    max-width: 40%;
  }
  form {
    text-align: center;
    /* position:relative; */
    top:50%;
    left:50%;
    margin-top:50px;
    margin-left:400px;
  }