{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h1 id="ngocquang">
          Em vừa chọn là "Không" đúng chưa 😒, anh telepathy đấy nhó 😏. Thật vậy, "Không" sẽ là câu trả lời của anh nếu có ai đó hỏi anh có hối hận khi nào làm người yêu em không.
        </h1>

        <h1 id="ngocquang">
          Anh chưa hối hận và mãi mãi không bao giờ khi làm người yêu em cả. Anh biết đôi khi anh chán nản, thờ ơ làm em suy nghĩ, lo lắng nhiều thật tâm anh muốn xin lỗi em nhiều lắm. Đây là những lời mà anh chưa bao giờ nói cũng chưa nói với ai bao giờ cả.
      </h1>
      <h1 id="ngocquang">
        Trên tay em là ảnh first date của chúng ta, anh mong em sẽ thích món quà này cũng như sẽ nhớ mãi về ngày đầu tiên chúng ta đi bên nhau. Có lẽ những dòng tâm thư này sẽ được gửi đến em sau dịp 8/3 nhưng anh vẫn muốn chúc em - người con gái mà anh yêu sẽ luôn vui vẻ, yêu đời, xinh đẹp và có những phút giây ý nghĩa nhất trong dịp 8/3 và Valentine trắng sắp tới nhé.
  </h1>
  <h1 id="ngocquang">
    Yêu em 💛
</h1>

      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}