{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/Y29uZ2R1b2M=1/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Nếu được chọn lại em có đồng ý làm người yêu anh khum 🙄?
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Không 😑</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Đương nhiên là có 😚 </p>
    </div>
  </form>

{% endblock %}