{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/RGhhMTYyMTYyCg==3/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
      <h2>
        ​​
    </h2>
        <h1 id="dha">
            Muốn nhắn nhủ với mẹ là mẹ hãy luôn vui vẻ, yêu đời, hạnh phúc nha mẹ.
        </h1>
        <h1 id="dha">
            Năm vừa qua mẹ đã làm rất tốt rồi, con mong mẹ hãy nghỉ ngơi một chút,
        </h1>
        <h1 id="dha">
             chăm sóc bản thân hơn một chút, yêu tụi con hơn nhiều chút nhaaaa
        </h1>

      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Oke con gái ❤️</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Nooo</p>
    </div>
  </form>

{% endblock %}