{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/ZmxzaGFkb3dsZWdl3/">
    <div>
      <span>
        <h1 id="phamhongthang">
            Con thật sự cảm ơn mẹ vì những năm tháng qua,
        </h1>
        <h1 id="phamhongthang">
            đã nuôi dạy con nên người, để con có được như ngày hôm nay,
      </h1>
      <h1 id="phamhongthang">
        cảm ơn vì dù con đã phạm phải không biết bao nhiêu sai lầm,
  </h1>
  <h1 id="phamhongthang">
    làm ba mẹ buồn lòng, vẫn luôn rộng lượng tha thứ,
</h1>
<h1 id="phamhongthang">
    cảm ơn mẹ vì dù biết bao nhiêu lần xích mích hay cãi nhau,
</h1>
<h1 id="phamhongthang">
    mẹ vẫn yêu thương con, con xin lỗi vì đã nhiều lần
</h1>
<h1 id="phamhongthang">
    làm mẹ bực tức,con xin lỗi vì đã không nghe theo lời mẹ,
</h1>
<h1 id="phamhongthang">
    xin lỗi vì làm cả nhà phải buồn lòng
</h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Tiếp</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Dừng</p>
    </div>
  </form>

{% endblock %}