{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/ZmxzaGFkb3dsZWdl2/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Vốn dĩ con không giỏi thể hiện cảm xúc,
        </h1>
        <h1 id="thaophuongne">
            nên con chỉ muôn nói là:
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Tiếp</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Dừng</p>
    </div>
  </form>

{% endblock %}