{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/aGFuaG9haGF1NQ==3/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Mẹ hãy luôn hạnh phúc và khoẻ mạnh nhé?
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Mẹ sẽ luôn luôn hạnh phúc và khoẻ mạnh</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Mẹ sẽ không như vậy mãi</p>
    </div>
  </form>

{% endblock %}