{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="hoangphuck">
            Nhân ngày Quốc tế Phụ nữ 8/3,
        </h1>
        <h1 id="hoangphuck">
            con xin được gửi tới mẹ những lời chúc tốt đẹp nhất,
      </h1>
      <h1 id="hoangphuck">
        con mong mẹ luôn khỏe mạnh, xinh đẹp
  </h1>
  <h1 id="hoangphuck">
    và mẹ sẽ luôn là số một trong lòng gia đình mình!
</h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}