{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/aG9hbmdwaHVjaw==2/">
    <div>
      <span>
        <h2>
            ​​
        </h2>
        <h1>
            Mẹ yêu con trai hay con gái của mẹ hơn ạ?
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Mẹ yêu con trai của mẹ hơn!</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Mẹ yêu con gái của mẹ hơn!</p>
    </div>
  </form>

{% endblock %}