{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h1 id="lcnq">
            This present isn’t valuable itself,
        </h1>
        <h1 id="lcnq">
            but it’s a souvenir hereto, it brings all most my warm sentiment and happy women day.
      </h1>
      <h1 id="lcnq">
        Wish you the best and greatest of all!
  </h1>

      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}