{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/a2hpZW1kdA==2/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Mẹ có vỗ béo cái bụng đầy mỡ tròn queo này của con khum 😅
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1">  T có vỗ béo m âu, do gen di truyền khum bíc gì hớt chơn, t zô số tội</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Tại t nấu ngol chứ giề nx 🥱</p>
    </div>
  </form>

{% endblock %}