{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/a2hpZW1kdA==1/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
          Mẹ có iu con khum 🤔🤔
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Khum, mi chỉ là con ghẻ hoi, con mark là số 1 gòi</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> coá, iu nhất trần đời lun, tềnh iu cao hơn cả đỉnh núi everest 🤧🤧</p>
    </div>
  </form>

{% endblock %}