{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/a2hpZW1kdA==3/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Nếu con khum lấy chồng mẹ nuôi con khum
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Chê nha, tự đi tìm chồng đi, t khum nuôi đâu 😏😏</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Zề đây lm ô sin quét rác cho teo he, tính tiền lương theo ngày, mơ gì teo nui 😒😒</p>
    </div>
  </form>

{% endblock %}