{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/a3VybzI41/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            nèk cô bé, có biết hôm nay là ngày gì không hả
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> 8/3 chứ j</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> tr ơi j z khùng hả má</p>
    </div>
  </form>

{% endblock %}