<!DOCTYPE html>

<html lang="en">
    <script>
      var count = false;

      function detectMob() {
          return ( ( window.innerWidth <= 1200 ) && ( window.innerHeight <= 2550 ) );
      }

      function mouseOver(){

        if (detectMob() == false) {
              $('#btn-2').animate({
              'top' : Math.round(Math.random() * (50 - 20 + 1)) + 20 + "vh",
              'left': Math.round(Math.random() * (30 - 15 + 1)) + 15 + "vh"
            }, "fast");
          }
          else if (detectMob() == true) {
            $('#btn-2').animate({
              'top' : Math.round(Math.random() * (32 - 22 + 1)) + 22 + "vh",
              'left': Math.round(Math.random() * (23 - 12 + 1)) + 12 + "vh"
            }, "fast");
          }
        }


    </script>
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:wght@300&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="../static/styles.css" rel="stylesheet">
        <title>ICM - Team 1</title>
    </head>
    <body>
      {% block body %}{% endblock %}
    </body>
</html>