{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/bGluaC5zCg==9/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Vượn oi, vượn có thương linh khum
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Có, thương nhứt trần đời, ko ai sánh bằng</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Êu, chê vcl, ghéc 🙄🙄</p>
    </div>
  </form>

{% endblock %}