{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/bGluaC5zCg==10/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Vượn có hứa là vượn sẽ bao linh ăn, mua quà về cho linh chơi khum🤔🤔
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> "Có, nhứt định sẽ có quà và được bao ăn bởi linh là ""iem bé"" của vượn"</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Có quà nhưng khum đc bao ăn trọn đời 😧( chán thíaaaaaaa)</p>
    </div>
  </form>

{% endblock %}