{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/bGluaC5zCg==11/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Mi có định đi chơi khum hay linh wa nhà mi wậy tung nóc 🌞🌞
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Có chắc chắn là đi ( khum đi ăn 💩 hoặc là bị 😳🗡️ )</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> "Chê, iu lớp mới ròi, bỏ các tềnh cũ ở nhà t đi choi vs ""BẠN THÂN"" mới 😒"</p>
    </div>
  </form>

{% endblock %}