{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/bmdhbnY=1/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="nguyenhongnhung1">
            Ai là người xinh đẹp nhất thế giới này???
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Mẹ của Ngân iu </button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Phạm Thị Thanh Thu</p>
    </div>
  </form>

{% endblock %}