{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h1 id="ngocquang">
            "8/3 chúc c luôn xinh đẹp, học giỏi, đạt được
        </h1>
        <h1 id="ngocquang">
            nhiều hoài bão của mình như đi Đức, blabla...
      </h1>
      <h1 id="ngocquang">
        Thật vinh dự khi được gặp và nói chuyện với c.
  </h1>
  <h1 id="ngocquang">
    Tuy nhiều lúc khiến c mệt, buồn vì đùa nghịch
</h1>
<h1 id="ngocquang">
    nhưng thật ra là quý, iu thương nhìu lắm á &#60;333
</h1>
<h1 id="ngocquang">
    Mong sao c luôn nhớ có ai đó vẫn có thể giúp đỡ,
</h1>
<h1 id="ngocquang">
    chia sẻ chuyện gì buồn với c bất kì lúc nào lun.
</h1>
<h1 id="ngocquang">
    Cảm ưn rất nhiều về những sự động viên, an ủi lúc sầu nhất
</h1>
<h1 id="ngocquang">
    mà c đã tạo ra . Vielen Dank !
</h1>
<h1 id="ngocquang">
    Dù khôm biết c có biết người viết là ai hay khôm thì
</h1>
<h1 id="ngocquang">
    một điều ấp ủ khá lâu muốn hỏi c thật lòng:
</h1>
<h1 id="ngocquang">
    "" c cho người viết cơ hội được khôm ? "" "
</h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}