{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/bmd1eWVudmlldHR1bmc=1/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Cậu thấy tớ là người như nào?
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Như người yêu cậu</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Như người lạ</p>
    </div>
  </form>

{% endblock %}