{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h1 id="phamhongthang">
            "A beautiful woman, a great friend and a wonderful mother.
        </h1>
        <h1 id="phamhongthang">
            You are all this to me and much more…
      </h1>
      <h1 id="phamhongthang">
        I feel so lucky and proud to have a teacher like you."
  </h1>

      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}