{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h2>
            ​​
        </h2>
        <h1 id="phamhongthang">
            Năm nay con trai mẹ đã sắp 18 tuổi rồi!
        </h1>
        <h1 id="phamhongthang">
            Tuy con không biết nói những lời đường mật, ngọt ngào
      </h1>
      <h1 id="phamhongthang">
        nhưng con biết mình cũng nên có những món quà nhỏ dành cho mẹ.
  </h1>
  <h1 id="phamhongthang">
    Năm nay con chúc mẹ có một ngày 8/3 vui vẻ, hạnh phúc, sức khoẻ,
</h1>
<h1 id="phamhongthang">
    mong mẹ mãi giữ nụ cười và yêu đời hơn.
</h1>
<h1 id="phamhongthang">
                         Yêu mẹ!
</h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}