{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/cXVvY2h1bmcwNmhw2/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
          Nay con ăn cơm gì thế bà :>?
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> ăn chả rươi ha?!</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> ăn cơm ngoài luôn đi!</p>
    </div>
  </form>

{% endblock %}