{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h1 id="phamhongthang">
          Keke nay 8/3 rồi,
        </h1>
        <h1 id="phamhongthang">
          con hậu đậu không biết làm gì hết nhưng mong bà,
      </h1>
      <h1 id="phamhongthang">
        không chỉ Quốc tế Phụ nữ mà còn sau này,
  </h1>
  <h1 id="phamhongthang">
    luôn mạnh khỏe và trẻ đẹp để nấu cơm cho con nhéeee!
</h1>
<h1 id="phamhongthang">
  Chúc bà 8/3 hoan hỉiii!
</h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}