{% extends "layout.html" %}

{% block body %}

  <form method="get" action="">
    <div>
      <span>
        <h2>
            ​​
        </h2>
        <h1 id="thaophuongne">
            Chúc bản thân 8/3 thực hiện được những thứ mình mong muốn
        </h1>
        <h1 id="thaophuongne">
            và luôn xinh đẹp như đoá hoa.
        </h1>
        <h1 id="thaophuongne">
            Happy Women's Day!
        </h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}