{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/dHJhbm5oYW5uaGF0bWluaA==7/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Các bạn muốn dành 6 năm ở bên cạnh chúng tớ không ?
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Có nhá, không chê gì cả nhá</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Hết năm tao bỏ Y thi lại</p>
    </div>
  </form>

{% endblock %}