{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/dHJhbm5oYW5uaGF0bWluaA==2/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Nếu được chọn 1 phần quà, cô thích được tặng món quà gì nhân ngày 8/3?
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Nhận báo cáo lúc 11h đêm</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Sinh viên tốt, xuất sắc các thứ</p>
    </div>
  </form>

{% endblock %}