{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h1 id="phamhongthang">
            Chào các bạn, ngày hôm nay chúng ta đã ở cùng nhau 127 ngày
        </h1>
        <h1 id="phamhongthang">
            Ngày 8/3 chúc một nửa của K44H
      </h1>
      <h1 id="phamhongthang">
        luôn hạnh phúc và thành công trong cuộc sống.
  </h1>
  <h1 id="phamhongthang">
    Chúc các bạn luôn xinh đẹp và duyên dáng trong mắt chúng tớ.
</h1>
<h1 id="phamhongthang">
    Kính chúc 6 năm thanh xuân của các bạn không bị
</h1>
<h1 id="phamhongthang">
    hoài phí bên cạnh 28 bạn nam K44H
</h1>
<h1 id="phamhongthang">
    - Lớp trưởng-
</h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}