{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h1 id="k44h">
            Đây là năm đầu tiên K44H bọn em có mặt ở HPMU
        </h1>
        <h1 id="k44h">
            mà gây nhiều sóng gió cho trường quá nên làm cô cũng mệt theo 😅😅😅
      </h1>
      <h1 id="k44h">
        Nhưng mà tụi em tự hào về cô lắm nha (mong cô đối với bọn em cũng như vậy) 💓
  </h1>
  <h1 id="k44h">
    Nói thực thì có cô, K44H đỡ hoang mang hơn
</h1>
<h1 id="k44h">
    với môi trường học tập mới hơn, có người tâm sự
</h1>
<h1 id="k44h">
    (khoe với cô 1 chút là Minh nó bảo cô Tươi khen cô Là tận tâm nhất trong các CVHT của Y1 ý hehe).
</h1>
<h1 id="k44h">
    Lạc đề vậy cũng dài rồi nên nhân ngày 8/3, cả lớp chúc cô ngày càng mạnh khỏe,
</h1>
<h1 id="k44h">
    thành công và đồng hành với bọn em 3 năm nữa cô nha
</h1>
<h1 id="k44h">
    (LỚP BẢO PHẢI 3 NĂM 🥺🥺🥺)
</h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}