{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/dHJhbm5oYW5uaGF0bWluaA==3/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Cô thấy điều gì tạo nên ngày 8/3 ý nghĩa ạ?
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> It's u K44H hihihi</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Deadlines, báo cáo lúc 12h đêm, làm ơn để cô ngủ</p>
    </div>
  </form>

{% endblock %}