{% block body %}

  <form method="get" action="/dmFuaGF0cmluaA==1/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Mẹ sẽ luôn vui vẻ hạnh phúc và tự yêu thương bản thân nhiều hơn mỗi ngày đúng hong?
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Đúng</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Sai </p>
    </div>
  </form>

{% endblock %}
