{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h1 id="phamhongthang">
            Đùng òi, giỏi wá, mẹ iu của con sẽ luôn tự yêu lấy
        </h1>
        <h1 id="phamhongthang">
            bản thân hơn mỗi ngày và sống hạnh phúc hơn.
      </h1>
      <h1 id="phamhongthang">
        Yêu mẹ nhìu nhìu nhìu nhắm nhuônnnnnn!
  </h1>
  <h1 id="phamhongthang">
    You are my sunshine too ❤️
</h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}