{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/ZGFtcXVhbmdkdXk==2/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Con tặng mẹ một món quà nhân dịp 8/3 nè 😚👉👈
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Thank you con nhiều!!</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Quà thật luôn hả, nay chu đáo thế?</p>
    </div>
  </form>

{% endblock %}