{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h1 id="phamhongthang">
            Con chúc mẹ có ngày Quốc tế Phụ nữ 8/3 thật vui vẻ,
        </h1>
        <h1 id="phamhongthang">
            luôn luôn xinh đẹp, khỏe mạnh, hạnh phúc
      </h1>
      <h1 id="phamhongthang">
        để tận hưởng cuộc sống cùng với gia đình mình.
  </h1>
  <h1 id="phamhongthang">
    Tiện thể nhân kỉ niệm 17 năm ngày cưới
</h1>
<h1 id="phamhongthang">
    con chúc ba mẹ luôn yêu thương và hạnh phúc bên nhau.
</h1>
<h1 id="phamhongthang">
    Chúc ba mẹ năm nay được đi du lịch nhiều hơn nữa 😌
</h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}