{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/ZGFtcXVhbmdkdXk==3/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Hôm nay cũng là kỉ niệm ngày cưới ba mẹ, con chúc mừng ba mẹ nhé 🥳
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> OK con nhé 🥰</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Ghê vậy sao?</p>
    </div>
  </form>

{% endblock %}