{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/RGhhMTYyMTYyCg==1/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1>
            Hi mom ❤
        </h1>
        <h1>
            Mẹ có muốn thấy bất ngờ nhỏ nhân ngày 8/3 không ạ?
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Có </button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Không nka con </p>
    </div>
  </form>

{% endblock %}