{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h1 id="giabaott">
            Có thể con không giỏi trong việc dành lời chúc
        </h1>
        <h1 id="giabaott">
            cho mọi người trong những dịp lễ như này nhưng mà
      </h1>
      <h1 id="giabaott">
        nhân ngày 8/3 thì đây là một bất ngờ nho nhỏ con dành cho mẹ,
  </h1>
  <h1 id="giabaott">
    cũng như là tình cảm của con đối với mẹ vậy.
</h1>
<h1 id="giabaott">
    Thì đây chỉ là một món quà nhỏ thôi nhé,
</h1>
<h1 id="giabaott">
    con sẽ cố gắng để đạt được những kì vọng của mẹ dành cho con
</h1>
<h1 id="giabaott">
    về mang thật nhiều món quà lớn hơn về cho mẹ.
</h1>
<h1 id="giabaott">
    Tại không biết nói gì nữa nên con nói thế thôi nhé :)))
</h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}