{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h1 id="phamhongthang">
            Chúc mẹ của con có 8/3 thật vui vẻ và hạnh phúc.
        </h1>
        <h1 id="phamhongthang">
            Có những thời gian bọn con làm cho mẹ buồn lòng
      </h1>
      <h1 id="phamhongthang">
        nên mong mẹ có thể tha thứ và cho bọn con sửa lỗi.
  </h1>
  <h1 id="phamhongthang">
    Con mong rằng những ngày tháng sau này mẹ chỉ được
</h1>
<h1 id="phamhongthang">
    cười thật tươi và sống thật an yên.
</h1>
<h1 id="phamhongthang">
    Chúc tất cả những điều tốt đẹp nhất đến với cô gái của bọn con.
</h1>
<h1 id="phamhongthang">
    Love mom so much &#60;3
</h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}