{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/aG9hbmdwaHVjaw==1/">
    <div>
      <span>
        <h2>
            ​​
        </h2>
        <h1>
            Mẹ có ngạc nhiên với món quà con tặng mẹ nhân ngày
        </h1>
        <h1>
             Quốc Tế phụ nữ 08/03 không ạ?
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Mẹ vừa ngạc nhiên vừa hạnh phúc với món quà đó lắm!</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Mẹ chả thấy ngạc nhiên vì món quà đó quá tầm thường !</p>
    </div>
  </form>

{% endblock %}