{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/bGluaC5zCg==3/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1>
            Chồng iu sẽ cứi tui chứ
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Bác sĩ bảo cưới rùi b êi 🤑🤑</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> 100 củ tháng cho linh tiu xài lm baby sugar của đời nọc 😂😂</p>
    </div>
  </form>

{% endblock %}