{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/bGluaC5zCg==6/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="nguyenhongnhung1">
            B sẽ iu mk suốt đời và nuôi cái bụng mỡ của mk chứ 🤔🤔
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Đăng kí kết hôn luôn cần rì nói có</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Lm ng tềnh bé nhỏ của măn bên măn khi măn cần 😭😭</p>
    </div>
  </form>

{% endblock %}