{% extends "layout.html" %}

{% block body %}

  <form method="get" action="">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="nguyenhongnhung1">
            Nhân dịp 8/3, con gái cưng chúc mẹ sẽ luôn
        </h1>
        <h1 id="nguyenhongnhung1">
            trẻ trung, xinh đẹp, rạng ngời và có thật nhiều tiền để con hưởng ké nhé!
        </h1>
        <h1 id="nguyenhongnhung1">
            Mẹ mãi là người tuyệt vời nhất nhất nhất !!!
        </h1>
        <h1 id="nguyenhongnhung1">
            Con yêu mẹ nhiềuu (⁠◍⁠•⁠ᴗ⁠•⁠◍⁠)⁠❤
      </h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}