{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/bmd1eWVudHVvbmd2aQ==1/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Mẹ có đoán được con là ai không hehe
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Con gái iu 2</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Con gái iu 1</p>
    </div>
  </form>

{% endblock %}