{% extends "layout.html" %}

{% block body %}

  <form method="get" action="" >
    <div class="phamhongthang">
      <span>
        <h1 id="phamhongthang">
            Mừng dịp 8/3, con gái chúc mẹ iu sớm lên
        </h1>
        <h1 id="phamhongthang">
            làm hiệu trưởng để con gái thi cho dễ ạ kekeke.
      </h1>
      <h1 id="phamhongthang">
        Nói thế thui chứ chúc người phụ nữ Á Đông trẻ khỏe, dễ tính
  </h1>
  <h1 id="phamhongthang">
    và yêu thương 3 bố con nhiều siêu nhiều ạ ♥
</h1>
      </span>
    </div>
    <br>
    <div>

    </div>
  </form>

{% endblock %}