{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/bmd1eWVudHVvbmd2aQ==3/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="thaophuongne">
            Quà con làm tặng mẹ đó, mẹ tin hem
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Tất nhiên là con mẹ làm gòi</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Dốt như bò mà bày đặt</p>
    </div>
  </form>

{% endblock %}