{% extends "layout.html" %}

{% block body %}

  <form method="get" action="/dGF0dWFudGhhbmg=1/">
    <div>
      <span>
        <h2>
          ​​
      </h2>
        <h1 id="nguyenhongnhung1">
            Cậu có muốn thấy bất ngờ nhỏ nhân ngày 8/3 không?
        </h1>
      </span>
    </div>
    <br>
    <div>
        <button class="btn-1" id="btn-1"> Có chứ!</button>
        <p class="btn-1" id="btn-2" onclick="mouseOver()" onmouseover="mouseOver()"> Omg gì vậy 😱</p>
    </div>
  </form>

{% endblock %}